:root{
    --white: white;
    --verydarkgray:#1d1d1f;
}
body{
    background-color: var(--white);
    color: var(--verydarkgray);
}
.vz_header{
    width: 100%;
    background-color: var(--verydarkgray);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.vz_header-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vz_logo{
    padding: 15px 30px;
}
.vz_header-content ul li a {
    text-decoration: none;
    color: var(--white);
    opacity: 0.8;
    padding-left: 20px;
}
.vz_header-content ul li:last-child{
    padding-right: 30px;
}
.vz_hamburger {
    display: none;
}
.app-container{
    margin-top: 80px;
    padding: 30px;
}
.vz_cross {
    cursor: pointer;
}
.vz_done-true{
    text-decoration: line-through;
}
/* RESPONSIVE */
@media screen and (max-width:768px) {
    .vz_hamburger{
        display: block;
    }
    .vz_menu{
        position: absolute;
        top: 80px;
        width: 100%;
        height: 100vh;
        background-color: var(--verydarkgray);
        flex-direction: column;
        justify-content: start!important;
        height: 0vh;
        overflow: hidden;
        transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .vz_menu li{
        width: 100%;
        padding: 15px;
        border-bottom: 1px solid #444;
    }
    .vz_menu-open .vz_menu{
        height: 100vh;
        padding: 2%;
    }
    .vz_hamburger{
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    .vz_hamburger span{
        height: 1px;
        width: 35px;
        background-color: var(--white);
        position: relative;
        display: block;
        margin-top: 15px;
    }
}